<meta charset="UTF-8">
<style type="text/css">/* Footer */

	.fc-top {
	  	padding: 0 0 !important;
	}
	._customer-footer {
		display: block;
	    font-family: Arial, sans-serif;
	  	background: linear-gradient(180deg, rgba(20, 28, 39, 0.9) 0%, rgba(9, 14, 21, 0.9) 100%), url("/system/ckeditor_assets/pictures/138561/content_footer-bg.png");
		background-size: cover;
		padding: 26px 0 40px 0;
		font-style: normal;
		font-weight: normal;
		color: #ffffff;
		font-size: 14px;
	}
	._customer-footer__wrap {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		position: relative;
		max-width: 1227px;
		margin: auto;
		box-sizing: border-box;
		padding: 0 10% 0 40px;
	}
	._customer-footer-col-left {
		padding-right: 3%;
	}
	._customer-footer-col-right {
		padding-left: 5%;
	}
	._customer-footer-col a {
		text-decoration: none;
		font-style: normal !important;
		font-weight: normal !important;
		line-height: 29px !important;
		color: #ffffff;
		white-space: nowrap;
	}
	._customer-footer-col a:hover {
		text-decoration: underline;
		color: #4a8355 !important;
	}
	._customer-footer-ttl {
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 18px;
		color: #999999;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	._customer-footer__list {
		list-style: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	._customer-footer__logo {
		display: block;
	}
	._customer-footer__contact {
	  	line-height: 37px;
	}
	._customer-footer__phone a {
		font-size: 16px;
		color: #F2F2F2;
	}
	._customer-footer__phone {
	    background: url("img/footer/phone.png") 0 10px no-repeat;
	    padding-left: 30px;
		white-space: nowrap;
	}
	._customer-footer__email {
	    background: url("img/footer/mail.png") 0 11px no-repeat;
	    padding-left: 30px;
	}
	._customer-footer__email a {
		text-decoration: underline !important;
	}
	._customer-footer__email a:hover {
		text-decoration: none !important;
	}
	._customer-footer__address {
	    background: url("img/footer/maps.png") 0 11px no-repeat;
	    padding-left: 30px;
		color: #F2F2F2;
	}
	._customer-footer__work {
	    background: url("img/footer/clock.png") 0 11px no-repeat;
	    padding-left: 30px;
		color: #F2F2F2;
	}
	._customer-footer__line {
	 	position: relative;
		padding: 0 7%;
	}
	._customer-footer__line:after {
	    content: "";
	    display: block;
	    width: 1px;
	    height: 200px;
	    background: #405369;
	    opacity: 0.5;
	    position: absolute;
	    top: 15px;
		left: 0;
	}
	._customer-footer__line:before {
		content: "";
		display: block;
		width: 1px;
		height: 200px;
		background: #405369;
		opacity: 0.5;
		position: absolute;
		top: 15px;
		right: 0;
	}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer-footer__wrap">
		<div class="_customer-footer-col _customer-footer-col-left">
			<div class="_customer-footer__logo-block">
				<a class="_customer-footer__logo" href="/"><img itemprop="logo" src="img/footer/logo.png" /></a>
			</div>
			<div class="_customer-footer__contact">
				<div class="_customer-footer-cnt _customer-footer__phone">
					<span>
						<a href="tel:+78634614469" itemprop="telephone"
							onclick="yaCounter46380111.reachGoal('megasite_footer_tel'); return true;">
						 	+7 (8634) 61-44-69</a>
					</span>&nbsp;&nbsp;
					<span>
						<a href="tel:+79085004132" itemprop="telephone"
						   onclick="yaCounter46380111.reachGoal('megasite_footer_tel'); return true;">
							+7 (908) 500-41-32</a>
					</span>
				</div>
				<div class="_customer-footer-cnt _customer-footer__email">
					<span>
						<a href="mailto:geotek.ltd@mail.ru" itemprop="email"
						   onclick="yaCounter46380111.reachGoal('megasite_footer_email'); return true;">
							geotek.ltd@mail.ru</a>
					</span>
				</div>
				<div class="_customer-footer-cnt _customer-footer__address" itemprop="address"
					 itemscope="" itemtype="http://schema.org/PostalAddress">
					<span itemprop="addressLocality">г. Ростов-на-Дону</span>
				</div>
				<div class="_customer-footer-cnt _customer-footer__work">
					<span content="Mo,Tu,We,Th,Fr 9:00-18:00" itemprop="openingHours">
						Пн-Пт 9:00-18:00
					</span>
				</div>
			</div>
		</div>

		<div class="_customer-footer-col _customer-footer__line">
			<div class="_customer-footer-ttl">Товарные категории</div>
			<ul class="_customer-footer__list">
				<li>
					<a href="/catalog/k-6140739-sistema_kanalizatsii_i_vodootvedeniya">Система канализации и водоотведения</a>
				</li>
				<li>
					<a href="/catalog/k-1788527-metalloprokat">Закладные детали</a>
				</li>
				<li>
					<a href="/catalog/k-6140740-truby">Трубы</a>
				</li>
				<li>
					<a href="/catalog/k-6140746-dorozhnyye_ograzhdeniya_i_znaki_bezopasnosti">Дорожные ограждения и знаки безопасности</a>
				</li>
				<li>
					<a href="/catalog/k-5992882-geomaterialy">Геоматериалы</a>
				</li>
			</ul>
		</div>

		<div class="_customer-footer-col _customer-footer-col-right">
			<div class="_customer-footer-ttl">Навигация</div>
			<ul class="_customer-footer__list">
				<li>
					<a href="/about">О компании</a>
				</li>
				<li>
					<a href="/catalog">Товары и услуги</a>
				</li>
				<!--<li>-->
					<!--<a href="#">Доп. страница</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">2-я доп. страница</a>-->
				<!--</li>-->
				<li>
					<a href="/contacts">Контакты</a>
				</li>
			</ul>
		</div>
	</div>
</footer>